header {
  background-color: #808000;
  padding: 20px;
  text-align: center;
}

body {
  background-color: #D2B48C;
  color: #333
  text-align: left;

h1 {
  color: #333;
}

img {
  border-radius: 10px;
  max-width: 100%;
}

.center-image {
  text-align: center;
}

.center-image img {
  display: inline-block;
}

body navbar {
  background-color: #556B2F
  color: #ffffff
}
